* {
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", Sans-Serif;
  background-color: #789;
}
.container {
  height: 120px;
  margin-top: 1px;
  padding: 32px;
  /*centralizar*/
  flex-direction: column;
  display: flex;
  align-items: center;

}
.minutes, .seconds, .hours{
  text-align: center;
  flex-direction: column ;
  width: 100%;
  margin: 2px;
}

.select-box1{
  display: flex;
  width: 500px;
}
.select-box2{
  width: 500px;
  display: flex;
}
.options-container{
  background: #345;
  color: white;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all  0.4s;
  border-radius: 8px;
  overflow: hidden;
  
  order: 1;
}
.selected {
  font-size: 90%;
  width: 100%;
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  
  order: 0;
}

.selected::after{
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 3px;
  transition: all 0.4s;
}

.options-container.active{ /* espaçamento entre classes de tag parent*/
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;/*o efeito de rolar a pagina WOW! */
}
.selected.rotate::after {
  transform: rotateX(180deg);
  top: -1px;
}

.options-container::-webkit-scrollbar{/*scroll background*/
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}
.options-container::-webkit-scrollbar-thumb {/*scroll parte rolavel*/
  background: #525861;
  border-radius: 0 8px 8px 0;
}
.option, .selected{
  padding: 10px 10px;
  cursor: pointer;
}
.option:hover {
  background: #414b57;
}
label{
  cursor: pointer;
}
.option .radio {
  display: none;/*esconde as bolinhas de marcaçao do radio*/
}
/**********************************/
button{
  width: 150px;
  border-radius: 10px;
  margin: 2px;
  background: #0789;
  color: white;
  font-size: 25px;
  padding: 8px 0px 8px 0px;
  cursor: pointer;
  border: 1px solid white;
}
#execution-box{
  width: 500px;
  z-index: -1;
  margin-top: 100px;
  position: absolute;
  text-align: center;
}
#stopBtn{
  border-radius: 10px;
  background: rgb(255, 72, 0);
  color: white;
  cursor: pointer;
  border: 1px solid white;
}
audio{
  display: none;
}